body,
html {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
}


.maincontainer {
    margin: 50px;
    border-radius: 20px;
    height: 450px;
    width: 600px;

    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

img {
    border-radius: 20px 0px 0px 20px;
    width: 300px;
    height: 450px;
}

.scritta1 {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', serif;
    font-weight:500 700;
    letter-spacing: 0.6em;
    
    margin-left: 25px;
    display: grid;
    grid-column: 2 /3;
    grid-row: 1;
}

.scritta2 {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    font-weight:700;
    color: hsl(212, 21%, 14%);
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-column: 2 /3;
    grid-row: 2;
}

.scritta3 {
    font-size: 14px;
    font-family: 'Montserrat', serif;
    color: hsl(228, 12%, 48%);
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-column: 2 /3;
    grid-row: 3;
}


.scritta4 {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    display: grid;
    grid-column: 2 /4;
    grid-row: 4;
}

.scritta5 {
    font-size: 17px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    display: grid;
    grid-column: 2 /3;
    grid-row: 5;

}

.prezzo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottone {
    display: flex;
    justify-content: center;
}

.scritta6 {
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 250px;
}

.carrello {
    display: flex;


    height: 30px;
    width: 30px;
}

@media screen and (max-width:375px){
    body,html{
    height: 150%;}

.maincontainer{
    margin: 50px;
    border-radius: 20px;
    height: 800px;
    width: 400px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}

img{
    border-radius: 20px 20px 0px 0px;
    height: 400px;
    width: 400px;
grid-column: 1;
grid-row:1;
}
.scritta1{
    grid-column: 1;
    grid-row:2;
    }
.scritta2{
    grid-column: 1;
    grid-row:3;
    }
.scritta3{
    grid-column: 1;
    grid-row:4;
    }
.scritta4{
    display: flex;
    grid-column: 1;
    grid-row:5;
    }
.scritta5{
    display: flex;
    justify-items: center;
    grid-column: 1;
    grid-row:5;
    }
.scritta6{
    width: 300px;
    grid-column: 1;
    grid-row:6;
    }
}